doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Admin Registration Form
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet', href='css/style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  style.
    #adminRegistrationForm {
    width: 600px;
    margin: 2vh auto 0 auto;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    font-size: 13.5px;
    color: black;
    }
    .card-header {
    color: black;
    }  
include nav     
.container.mt-5
  .row.justify-content-center
    .col-md-8
      .card
        .card-header Administrator Registration Form
        .card-body
          form#adminRegistrationForm(action="/adminRegister" method="POST" onsubmit='return validation(event)' name='validationForm')
            // Admin's Information
            .form-group
              label(for='fullName') Full Name
              input#fullName.form-control(type='text' name='fullName')
              #fullNameError.error-message
            .form-group
              label(for='gender') Gender
              select#gender.form-control(name='gender')
                option(value='') Select Gender
                option(value='male') Male
                option(value='female') Female
              #genderError.error-message
            .form-group
              label(for='dateOfBirth') Date of Birth
              input#dateOfBirth.form-control(type='date' name='dateOfBirth')
              #dateOfBirthError.error-message
            .form-group
              label(for='religion') Religion
              input#religion.form-control(type='text' name='religion')
              #religionError.error-message
            .form-group
              label(for='location') Location
              input#location.form-control(type='text' name='location')
              #locationError.error-message
            .form-group
              label(for='phone') Telephone Number
              input#phone.form-control(type='tel' name='phone')
              #phoneError.error-message
            .form-group
              label(for='email') Email
              input#email.form-control(type='email' name='email')
              #emailError.error-message
            .form-group
              label(for='nationality') Nationality
              input#nationality.form-control(type='text' name='nationality')
              #nationalityError.error-message
            .form-group
              label(for='nin') National ID Number
              input#nin.form-control(type='text' name='nin')
              #ninError.error-message
            .form-group
              label(for='role') Role
              input#role.form-control(type='text' name='role' value='Admin')
              #roleError.error-message
            .form-group
              label(for='password') Password
              input#password.form-control(type='password' name='password')
              #passwordError.error-message
            button.btn.btn-primary(type='submit') Register
br
include footer 
// Bootstrap JS and dependencies (e.g., Chart.js)
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js')
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js')
script(src='/js/Reg.js')
