doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Attendance
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  link(rel='stylesheet' href='css/style.css')
  style.
    .button-bar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #9ea9f0;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    }
    .button-bar .btn {
    margin-right: 10px;
    }
    .btn {
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    }
    .btn:hover {
    background-color: #aec7e2;
    }
    .btn-action {
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
    }

.button-bar
  a.btn-dashboard.btn(href='/dashboard') Dashboard
  a.btn-check-in.btn(href='/checkin') Check-In
  a.btn-check-in-list.btn(href='/checked') Check-Out
  a.btn.btn(href='/checkinHistory') Attendance History

  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')