body {
  background-image: linear-gradient(
    to right top,
    #060736,
    #050e39,
    #05143c,
    #07183f,
    #0a1c42,
    #052246,
    #012849,
    #002d4c,
    #00354e,
    #003c4d,
    #004249,
    #064844
  );
  color: white;
}

/*Index page*/
.card.text-bg-dark {
  text-align: center;
  color: black;
}

.card.text-bg-dark h2 {
  color: rgb(219, 241, 21);
  font-style: italic;
  font-family: Bradley Hand ITC;
}

/* CSS for heartbeat animation on button */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.btn-heartbeat {
  animation: heartbeat 4.5s infinite; /* Apply heartbeat animation */
}

.card.text-bg-dark img {
  opacity: 0.5;
  max-height: 500px;
  max-width: auto;
}

.card.text-bg-dark h1 {
  text-align: right;
  padding-top: 100px;
  padding-right: 160px;
  font-family: Showcard Gothic;
}

#lead {
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
  color: white;
}

#para {
  font-family: Bahnschrift;
  color: white;
  font-size: larger;
}

/*Back to top button*/
#backToTopBtn {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #9e1a1a;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  overflow: hidden;
  white-space: nowrap;
}

#backToTopBtn:hover {
  background-color: #e41818;
}

/* Doll stall */
.containers {
  width: 1000px;
  margin: auto;
  transition: 0.5s;
}

header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
}

header .shopping {
  position: relative;
  text-align: right;
}

header .shopping img {
  width: 40px;
}

header .shopping span {
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 3px 10px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
}

.cart {
  position: fixed;
  top: 0;
  left: 100%;
  width: 300px;
  background-color: #c0927e;
  height: 100vh;
  transition: 0.5s;
}

.cart h1 {
  color: #e8bc0e;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80;
  display: flex;
  align-items: center;
}

.cart .checkOut {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cart .checkOut div {
  background-color: #e8bc0e;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.cart .checkOut div:nth-child(2) {
  background-color: #1c1f25;
  color: #fff;
}

.active .cart {
  left: calc(100% - 300px);
}

.active .containers {
  transform: translateX(-100px);
}

.list .item {
  text-align: center;
  background-color: #a5ccd6;
  padding: 20px;
  box-shadow: o 50px 50px #85508f;
  letter-spacing: 1px;
}

.list .item img {
  width: 90%;
}

.list .item .title {
  font-weight: 600;
}

.list .item .price {
  margin: 10px;
}

.list .item button {
  background-color: #704d5d;
  color: #fff;
  padding: 10px;
  width: 100%;
}

.listCart li {
  display: grid;
  grid-template-columns: 100px repeat(1, 1fr);
  color: #660e0e;
  row-gap: 0px;
  margin-bottom: 40px;
}

.listCart li div {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
}

.listCart li img {
  width: 70%;
}

.listCart button {
  width: auto;
  background-color: rgba(0, 0, 0, 0.333);
  border: none;
}

.listCart .count {
  margin: 0 5px;
}
footer {
  background-image: linear-gradient(to right top, #2f0e53, #2c175a, #281f61, #242668, #1e2d6e, #153776, #09417c, #004b82, #005a86, #006784, #00727e, #1c7c76);
  padding: 20px 0;
  position: relative;

}

.footer-text {
  color: white;
  margin-bottom: 20px;
  
}

.social-icons {
  font-size: 24px;
  margin-right: 15px;
  color: #d4d9e0;
  transition: transform 0.3s ease; /* Apply transition effect to transform */
}

.social-icons:hover {
  color:rgb(109, 226, 226);
  transform: scale(1.2); /* Scale up to 120% on hover (zoom in effect) */
}

.btn {
  transition: transform 0.3s ease; /* Apply transition effect to transform */
}

.btn:hover {
  transform: scale(1.1); /* Scale up to 110% on hover (zoom in effect) */
}
.footer-link {
  transition: transform 0.3s ease; /* Apply transition effect to transform */
  display: inline-block;
  color: white;
}

.footer-link:hover {
  color: white;
  text-decoration: solid;
  transform: scale(1.5); /* Scale up to 110% on hover (zoom in effect) */
}

.copy-right {
  position: absolute;
  bottom: 10px;
  width: 70%;
  text-align: center;
  color: #f3ebeb;
}